#Product-1{
    width: 25%;
    background-color: aliceblue;
    padding: 20px 20px;
    border: 10px solid cornflowerblue;
    border-radius: 20px;
}
#button-1{
    background-color: rgb(81, 181, 113);
    width: 100%;
    height: 30px;
    border-radius: 10px;
    margin-bottom: 10px;
}
#button-2{
    background-color: rgb(196, 95, 33);
    width: 100%;
    height: 30px;
    border-radius: 10px;
    margin-bottom: 10px;
}
#Product-2{
    width: 25%;
    background-color: aliceblue;
    padding: 20px 20px;
    border: 10px solid cornflowerblue;
    border-radius: 20px;
}